/**MASTR**/
@font-face {
    font-family: 'BYekan';
    src:
      url('../fonts/iranyekanweblight.ttf') format('truetype'),
      url('../fonts/iranyekanweblight.woff') format('woff');
  }
  * {
    box-sizing: border-box;
    font-weight: 300;
  }
  a {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 0.5s ease-out;
  }
  /*****MENU****/
  header {
    position: fixed;
    z-index: 1000;
    height: 80px;
    width: 100%;
    padding: 15px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    top: 0;
  }
  .sticky{
    background: #000000bf;
  }
  .header-top .logo.desktop a.login-in-header {
    background: #fff;
    color: #000;
    font-family: Byekan, serif;
    padding: 1px 8px 4px 8px;
    font-weight: bold;
    text-decoration: none;
    height: 16px;
  }
  
  .header-top .logo.desktop a.login-in-header i {
    padding: 0 5px 0 0;
  }
  
  .header-top .logo.desktop > i {
    font-size: 26px;
  }
  .header-top span.border-bet-header-desk {
    width: 22px;
    height: 1px;
    background: #00A8E0;
    display: inline-block;
    margin: 0 8px 0 6px;
  }
  span.border-bet-header-mobile {
    width: 22px;
    height: 1px;
    background: #1392cd;
    display: inline-block;
    margin: 15px 8px 0 6px;
    float: left;
  }
  .header-top span.phone-call-icon {
    font-size: 28px;
    display: inline-block;
    margin: 5px 4px 0 0;
    vertical-align: middle;
  }
  .header-top a {
    text-decoration: none;
    color: #fff;
  }
  .header-top a.phone-call-icon {
    background: #fff;
    padding: 3px 5px 2px 4px;
    text-align: center;
    vertical-align: middle;
  }
  .header-top a.phone-call-icon:hover {
    background: #119ad2;
  }
  .header-top a.phone-call-icon img {
    width: 20px;
    padding: 0 0 3px 0;
  }
  .header-top a:hover {
    text-decoration: none;
    color: #fff;
  }
  .header-top span.phone-call-icon i:hover {
    color: #1392cd;
  }
  
  .header-top .logo.desktop a.login-in-header:hover {
    background: #1392cd;
    color: #fff;
  }
  
  .register-fixed .items-fixed-pages {
    position: absolute;
    right: 0;
    top: 150px;
  }
  .register-fixed .items-fixed-pages a{
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  }
  .register-fixed .items-fixed-pages a:before {
    content: " " ;
    width: 120px;
    height: 35px;
    display: block;
    background:url(../images/website-1-MainPage-req1.svg);
    background-repeat:no-repeat;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  }
  .register-fixed .items-fixed-pages a:hover:before {
    display: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  }
  .register-fixed .items-fixed-pages a:hover span{
    background: url("../images/website-1-MainPage-req2.svg");
    background-repeat: no-repeat;
    width: 170px;
    height: 35px;
    background-size: contain;
    display: block;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  }
  .register-fixed  .coverage-link-master {
    top: 190px;
  }
  .register-fixed  .coverage-link-master a:before {
    width: 95px;
    height: 35px;
    display: block;
    background:url(../images/website-1-MainPage-coverage1.svg) no-repeat;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  
  }
  .register-fixed  .coverage-link-master a:hover:before {
    display: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  
  }
  .register-fixed  .coverage-link-master a:hover span{
    background: url("../images/website-1-MainPage-coverage2.svg");
    background-repeat: no-repeat;
    width: 170px;
    height: 35px;
    background-size: contain;
    display: block;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  }
  .logo.desktop {
    color: #fff;
    vertical-align: middle;
    padding: 0 5px;
    direction: ltr;
  }
  .outer-menu {
    position: fixed;
    top: 1vh;
    right: 0;
    z-index: 1;
  }
  .outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    background: #fff;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .outer-menu .menu > div > div > ul.navbar-nav-footer li:last-child a:before{
    display:none;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li:last-child a{
    font-size: 19px;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li:last-child {
    margin-right: 0;
    margin-top: 30px;
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
    background: #000000bd;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-duration: 0.75s;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }
  .outer-menu .checkbox-toggle:hover + .hamburger {
  }
  .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  .outer-menu .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    padding: 0.5em 1em;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .hamburger > div:before,
  .outer-menu .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    /*background: inherit;*/
    background: #fff;
    transition: all 0.4s ease;
  }
  .outer-menu .hamburger > div:after {
    top: 10px;
  }
  .outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    font-family: Byekan, sans-serif;
    width: 100%;
    direction: rtl;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div {
    width: 90%;
    height: 85%;
    color: #fefefe;
    background: #294a73; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #294a73 0%, #107bb9 34%, #188acc 64%, #00a8e0 92%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #294a73 0%,#107bb9 34%,#188acc 64%,#00a8e0 92%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #294a73 0%,#107bb9 34%,#188acc 64%,#00a8e0 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294a73', endColorstr='#00a8e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 0.4s ease;
    flex: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div > div > ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
    overflow: hidden;
  }
  .outer-menu .menu > div > div > ul > li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
    text-align: right;
  }
  .outer-menu .menu > div > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    /* transition: color 0.4s ease; */
    color: #fff;
    font-family: BYekan, sans-serif;
  }
  .outer-menu .menu > div > div > ul > li > a:hover {
    color: #131212;
    text-decoration: none;
    font-weight: 800;
  }
  .outer-menu .menu > div > div > ul > li > a:hover:before {
    width: 30px;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li a:hover:before{
    width:20px
  }
  .outer-menu .menu > div > div > ul > li > a:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: -40px;
    width: 0;
    height: 2px;
    background: #1d1d1d;
    transition: width 0.4s ease;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li a:before {
    right: -10px;
    bottom: 16px;
  }
  .outer-menu .menu .menu-col-item {
    width: 33%;
    border-left: 1px solid #085573;
    height: 100%;
    overflow: hidden;
  }
  .outer-menu .menu .menu-col-item:last-child {
    border-left: none;
  }
  .menu-col-item ul.navbar-nav li a {
    color: #fff;
    font-family: BYekan, sans-serif;
    font-size: 19px;
    text-align: right;
  }
  .menu-col-item ul.navbar-nav li {
    text-align: right;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li a {
    font-size: 16px;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li.register-box a:before {
    display:none;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li.register-box {margin: 0 0 30px 20px;}
  .outer-menu .menu > div > div > ul.navbar-nav-footer li {
    margin: 3px 0;
  }
  
  .outer-menu .menu > div > div > ul.navbar-nav-footer li.register-box a {
    font-size: 22px;
  }
  .outer-menu .menu > div > div > ul.navbar-nav-footer li.register-box a span {
    font-weight: bold;
  }
  p.tel-number-nav span.title-telnumber {
    width: 69px;
  }
  p.tel-number-nav span {
    display: inline-table;
    width: 170px;
  }
  p.tel-number-nav {
    margin: 10px 0 0 0;
    font-size: 19px;
  }
  p.tel-number-nav a {
    text-decoration: none;
    color: #fff;
  }
  
  p.tel-number-nav a:hover {
    color: #000;
  }
  p.copyright {
    font-size: 11px;
    text-align: justify;
    width: 280px;
  }
  .outer-menu .menu a.navbar-brand:before {
    display: none;
  }
  .logo {
    position: fixed;
    z-index: 99;
    top: 15px;
    left: 14px;
  }
  .logo img {
    width: 100px;
  }
  .header-top .mobile i{
    font-size: 22px;
  }
  .header-top .mobile span{
    vertical-align: -webkit-baseline-middle;
  }
  li.organizing-banner a:before {
    display: none;
  }
  li.organizing-banner{
    display: flex !important;
    justify-content: space-between;
  }
  li.organizing-banner div{
    width: 20%;
  }
  nav {
    position: fixed;
    color: #FFF;
    right: 10px;
    top: 15px;
    z-index: 999;
    font-size: 20px;
    font-weight: 700;
    width: 35px;
    text-align: center;
  }
  ul.access-header-mobile li {
    display: inline-block;
    background: #fff;
    width: 35px;
    height: 30px;
    text-align: center;
    padding: 5px 5px;
    margin-left: 3px;
    vertical-align: middle;
  }
  
  ul.access-header-mobile {
    float: left;
    padding: 0;
  }
  ul.access-header-mobile li.mobile-phone-icon i, ul.access-header-mobile li.mobile-signin-icon i {
    color:#000;
  }
  ul.access-header-mobile li.mobile-locate-icon, ul.access-header-mobile li.mobile-req-icon {
    color:#000;
  }
  ul.access-header-mobile li.mobile-locate-icon, ul.access-header-mobile li.mobile-req-icon {
    background: #1198d2; /* Old browsers */
    background: -moz-linear-gradient(left,  #1198d2 0%, #10b4da 34%, #10b4da 34%, #07d8ec 59%, #07d8ec 59%, #00fbfe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1198d2 0%,#10b4da 34%,#10b4da 34%,#07d8ec 59%,#07d8ec 59%,#00fbfe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1198d2 0%,#10b4da 34%,#10b4da 34%,#07d8ec 59%,#07d8ec 59%,#00fbfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1198d2', endColorstr='#00fbfe',GradientType=1 ); /* IE6-9 */
  }
  .mobile img {
    width: 75px;
    float: left;
  }
  li.organizing-banner img {
    padding: 10px;
  }
  footer .copy-right {
    text-align: center;
    direction: rtl;
    padding: 21px 0;
    font-size: 11px;
    color: #fff;
  }
  footer {
    background: #000;
    text-align: center;
    font-size: 11px;
    padding: 0;
    z-index: 1 !important;
  }
  footer p.copyright-footer {
    margin: 0;
    color: #a9a9a9;
    font-weight: 600;
    direction: rtl;
  }
  .terms-contract h3 {
    font-size: 18px;
    padding: 0 1rem;
    height: auto;
    display: inherit;
    letter-spacing: normal;
  }
  li.terms-contract a.nav-link {
    margin-right: 21px;
  }
  .about {
    position: fixed;
    color: #FFF;
    z-index: 2;
    bottom: 60px;
    left: 79px;
    font-weight: 700;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    display: flex;
    align-items: center;
  }
  .about:hover {
    left: 90px;
  }
  .about-page .about {
    color: #9e9e9e;
  }
  .contact {
    position: absolute;
    color: #FFF;
    z-index: 2;
    bottom: 74px;
    right: 86px;
    transform: rotate(-90deg) translate(5px, calc(100% + 40px));
    transform-origin: bottom left;
    transition: 0.6s cubic-bezier(.19, 1, .22, 1);
    font-weight: 700;
  }
  
  .contact:hover {
    bottom: 84px;
  }
  
  .about-page .contact {
    color: #000;
  }
  
  .about:before {
    content: '';
    position: absolute;
    background: #00A8E0;
    top: calc(50% - 1px);
    left: -100px;
    width: 100px;
    height: 1px;
  }
  
  .about-page .about:before {
    background: #9e9e9e;
  }
  
  .social-icon {
    height: 16px;
    margin: 0 0 8px 10px !important;
    color: #fff;
  }
  
  .social-icon:hover {
    color: #00A8E0;
  }
  
  .social-icon svg {
    height: 16px !important;
  }
  
  .social-icon svg path {
    fill: #FFF;
  }
  
  .register-fixed{
    position: fixed;
    top: 100px;
    right: 0;
    direction: rtl;
    z-index: 9;
  }
  .register-fixed .menu {
    height: 35px;
    position: relative;
    text-align: right;
    direction: rtl;
    transform: skew( 30deg);
  }
  .register-fixed i {
    margin-left: 6px;
  }
  
  .request-position .menu-link1 {
    width: 150px !important;
  }
  .register-fixed .menu-link {background: #00a8e0; /* Old browsers */background: -moz-linear-gradient(-45deg,  #00a8e0 0%, #0bb7e0 29%, #009ce5 66%, #009bd8 91%); /* FF3.6-15 */background: -webkit-linear-gradient(-45deg,  #00a8e0 0%,#0bb7e0 29%,#009ce5 66%,#009bd8 91%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(135deg,  #00a8e0 0%,#0bb7e0 29%,#009ce5 66%,#009bd8 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8e0', endColorstr='#009bd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */clear: both;width: 240px;font-weight: 600;height: 40px;padding: 3px 26px 10px 0;font-size: 22px !important;/* transform: skew( 30deg); */position: absolute;text-decoration: none !important;top: 5px;right: -10px;/* -webkit-transition: all 1s linear; */-moz-transition: all 1s linear;-o-transition: all 1s linear;/* transition: width 1s linear; */color:#fff;
    font-family: Byekan, sans-serif;}
  .register-fixed  .menu-link :hover{
    background:#fff
  }
  .register-fixed .request-position a {
    top: 0;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
  }
  .register-fixed span {
    transform: skew( -30deg);
    display: -webkit-inline-box;
    background: transparent !important;
  }
  .register-fixed .coverage-position a {
    top: 12px;
  }
  .register-fixed .menu:hover .menu-link1 {
    opacity: 0;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
  }
  .register-fixed a {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
  }
  
  .register-fixed  .menu-link1 {
    opacity: 1;
    width: 129px;
  }
  .register-fixed .menu-container i {
    margin: 0 0 0 5px;
  }
  .register-fixed .menu-link1:hover {
    opacity: 0;
  }
  
  .register-fixed .menu-link2 {
    opacity: 0;
  }
  
  .register-fixed .menu-link2:hover {
    opacity: 1;
    background: #fff;
    color: #000;
  }
  body::-webkit-scrollbar {
    width: 4px;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(7, 19, 25);
  }
  body::-webkit-scrollbar-thumb {
    background-color: #000000;
    outline: 1px solid #061116;
  }
  ::selection {
    background: #00A8E0; /* WebKit/Blink Browsers */
    color:#fff;
  }
  ::-moz-selection {
    background:#00A8E0; /* Gecko Browsers */
    color:#fff;
  }
  .bg-choose-service-register{
    background: #1894d0 !important;
  }
  /**MASTER**/
  
  .grecaptcha-badge {
    display: none;
  }
  
  ul.mobile-menu-bottom{
    display:none !important;
    position:absolute;
    bottom: 10px;
    margin: 0 auto !important;
  }
  ul.mobile-menu-bottom li{
    float:right;
    margin: 0 10px !important;
  }
  ul.mobile-menu-bottom li a{
    font-size: 14px;
  }
  ul.mobile-menu-bottom li a:before{
    display: none;
  }
  .leaflet-top, .leaflet-bottom {
    z-index: 999;
  }
  div#errorMessage {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
  div#errorMessage span {
    color: #F44336;
    font-size: 12px;
    font-weight: bold;
    padding: 0 4px;
  }
  .price-box-table{
    margin: 0 auto;
  }
  .price-box-table tr{
    border: 3px solid #161616;
  }
  .price-box-table tr td{
    background: #0096cae6;
    padding: 18px 40px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
  }
  .cell-bg{
    background: #25617582 !important;
    border-right: 3px solid #161616;
  }
  
  .loader {
    border: 2px solid #383838;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  .online-shop-certificate{
    height: 80px;
    padding: 0 10px !important;
    background: #fff;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /*********Responsive Codes*********/
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    .outer-menu .menu .menu-col-2, .outer-menu .menu .menu-col-3 {
      display: none;
    }
    .outer-menu .menu .menu-col-1{
      width:100%;
      border:none;
    }
    .logo{
      top:25px
    }
    a.request-button-service{
      float: right;
      margin-top:15px
    }
    .outer-menu .menu > div{
      width:100%;
      height:100%
    }
    .register-fixed {
      display: none;
    }
    .about{
      bottom: 0;
    }
    ul.mobile-menu-bottom{
      display:block !important;
    }
    section.list-items-service .service-item-detail{
      margin: 0;
      padding: 10px 10px;
    }
    .about a i{
      transform: rotate(90deg);
    }
    .price-box-table tr td{
      padding: 7px 5px;
      font-size: 11px;
      border-left: 2px solid #161616;
    }
  }
  
  /*Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    .outer-menu .menu .menu-col-2, .outer-menu .menu .menu-col-3 {
      display: none;
    }
    .logo{
      top:25px
    }
    .outer-menu .menu .menu-col-1{
      width:100%;
      border:none;
    }
    ul.mobile-menu-bottom{
      display:block !important;
    }
    a.request-button-service{
      float: right;
      margin-top:15px
    }
    .register-fixed {
      display: none;
    }
    .outer-menu .menu > div{
      width:100%;
      height:100%
    }
    .cost-srvice-table-desk{
      display:none;
    }
    .active-session-service > img{
      display:none;
    }
    .level-active-desktop {
      display: none;
    }
    .about{
      bottom:20px;
    }
    .about a i{
      transform: rotate(90deg);
    }
    section.list-items-service .service-item-detail{
      margin: 0;
      padding: 10px 10px;
    }
    .price-box-table tr td{
      padding: 7px 5px;
      font-size: 15px;
      border-left: 2px solid #161616;
    }
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    .register-fixed .items-fixed-pages {
      top: 100px;
    }
    .outer-menu .menu > div {
      width: 100%;
      height: 100%
    }
    .register-fixed {
      display: none;
    }
    .about a i{
      transform: rotate(90deg);
    }
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .outer-menu .menu > div{
      width:90%;
      height:80%
    }
    .mobile{
      display: none;
    }
  }
  
  /* Large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) and (max-width: 1500px)  {
    .register-fixed .items-fixed-pages{
      top: 80px;
    }
    .register-fixed .items-fixed-pages a:before{
      width:110px
  
    }
    .outer-menu .menu > div{
      width:90%;
      height:90%
    }
    .register-fixed .coverage-link-master{
      top: 115px;
    }
    .register-fixed .coverage-link-master a:before{
      width:90px;
      height:80px
    }
    .mobile{
      display: none;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1920px)  {
    .outer-menu .menu > div{
      width:90%;
      height:80%
    }
    .mobile{
      display: none;
    }
  }
  @media (max-width: 1920px) {
    .mobile{
      display: none;
    }
  }
  @media screen and (max-height: 418px) {
    .outer-menu .menu > div{
      width:100%;
      height:100%
    }
  }
  @media screen and (max-width:960px) {
    .mobile {
      display: block;
    }
    .mobile img{
      width: 75px;
      float: left;
    }
    .desktop {
      display: none;
    }
    .fixed-bottom{
      position: relative !important;
    }
    a.request-button-service{
      float: right;
      margin-top:15px
    }
    .about {
      position: fixed;
      color: #FFF;
      z-index: 2;
      bottom: 35px;
      left: -10px;
      font-weight: 700;
      transition: 0.6s cubic-bezier(.19, 1, .22, 1);
      transform: rotate(-90deg);
    }
    .about:before {
      display: none;
    }
  }
  @media (max-width: 768px){
    a.request-button-service{
      float: right;
      margin-top:15px;
      margin-right: 12px;
    }
    section.list-items-service .service-item-detail{
      margin: 0;
      padding: 10px 10px;
    }
  }
  @media (max-width: 320px){
    .logo{
      left: 5px;
      top: 15px;
    }
    .header-top .mobile i {
      font-size: 18px;
    }
    ul.access-header-mobile li{
      width: 32px;
      height: 28px;
    }
    span.border-bet-header-mobile {
      width: 12px;
      margin: 15px 5px 0 5px;
    }
    .outer-menu .hamburger{
      height: 46px;
    }
  }